<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>header</title>
</head>
<body>

    <div>
        <ul class="navbar">
            <li class="{% if request.path == '/' %} active {% endif %}"><a href="/">Home</a></li>
            <li  class="{% if request.path == '/course/' %} active {% endif %}"><a href="{% url 'course' %}">course</a></li>
            <li  class="{% if request.path == '/contuct/' %} active {% endif %}"><a href="/contuct/">Contuct</a></li>
            <li  class="{% if request.path == '/help/' %} active {% endif %}"><a href="/help/">Help</a></li>
            <li  class="{% if request.path == '/form/' %} active {% endif %}"><a href="/form/">Form</a></li>
            <li><input type="text" placeholder="search here"><a href="/"><button class="btn">Search</button></a></li>
        </ul>
    
      </div>

    
</body>
</html>